body {
    background-color: rgb(207, 174, 179);
    color: rgb(60, 5, 106);
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(179, 210, 213);
    color: rgb(37, 31, 96);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: rgb(239, 224, 226);
    color: rgb(49, 24, 68);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: rgb(239, 224, 226);
    color: rgb(49, 24, 68);
    font-family: Arial;
    margin: 0px;
}